#intro {
  position: relative;
  height: 100vh;
}

#intro .title-wrap {
  position: absolute;
  top: 2rem;
  height: calc(100vh - 22rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

#intro h1,
#intro h2 {
  line-height: 1.4em;
}

#intro h1 {
  font-size: 2.9rem;
}

#intro h2 {
  text-align: right;
  font-size: 2.1rem;
  position: absolute;
  bottom: 10rem;
  right: 0;
}

#intro span {
  display: block;
}

#intro span.font-fancy {
  display: inline;
  font-size: 4.5rem;
  line-height: 0;
}

#intro h2 span:last-child {
  line-height: 1.2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .fadeable {
    transition: all 0.3s;
    opacity: 1;
    transform: translateX(0);
  }
  .fadeOut {
    opacity: 0;
  }
  h1.fadeOut {
    transform: translateX(-2em);
  }
  h2.fadeOut {
    transform: translateX(2em);
  }
}

@media screen and (max-width: 340px) {
  #intro h1 {
    font-size: 2.5rem;
  }
  #intro h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 650px) {
  #intro h1 {
    font-size: 3.5rem;
  }
  #intro .title-wrap {
    height: calc(100vh - 50vw - 2rem);
  }
  #intro h2 {
    bottom: calc(50vw - 6rem);
    font-size: 2.4rem;
  }
  #intro .font-fancy.ampersand {
    transform: translate(0, -0.4rem);
    display: inline-block;
  }
}

@media screen and (min-width: 1080px) {
  #intro h1 {
    right: auto;
    left: 0;
  }
  section#intro {
    margin: 0 !important;
    padding: 0 3rem;
  }
  #intro .title-wrap {
    height: calc(100vh - 22rem);
  }

  #intro h2 {
    right: 3rem;
    bottom: 10rem;
  }
}
