#projects {
  padding-top: 3rem;
}
#projects h2 {
  margin-bottom: 1.5rem;
}

#projects .project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#projects article {
  /* padding: 0.5rem; */
  width: 100%;
  margin-top: 0.75rem;
  cursor: pointer;
}

#projects .skill {
  border: 1px solid rgb(153, 246, 228);
  border-radius: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25rem 0.5rem;
  text-align: center;
  display: inline-block;
  margin-right: 0.75rem;
}

.dark #projects .skill {
  background-color: rgba(0, 0, 0, 0.5);
}

#projects p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.project-card .cover-image {
  text-align: center;
  margin: auto;
  height: 18rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.project-card .cover-image .built-with {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.7rem;
  max-width: calc(100% - 1rem);
}
.dark .project-card .cover-image .built-with {
  background-color: rgba(0, 0, 0, 0.8);
}

#projects h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0.75rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
}

.dark #projects h3 {
  background: rgba(0, 0, 0, 0.8);
}

#projects h4 {
  font-weight: bold;
}

#projects .project-skills {
  margin-top: 0.5rem;
}

.project-card details > summary::-webkit-details-marker {
  display: none;
}

.project-card details > summary {
  /* list-style-type: "»"; */
  list-style: none;
  position: relative;
  margin: 1rem 0 0;
  cursor: pointer;
}

.project-card details > summary::after {
  content: "»";
  padding-left: 0.4rem;
  font-size: 1.4em;
  position: absolute;
  top: -0.25rem;
}

.project-card details[open] > summary::after {
  content: "";
}

.project-card details[open] > summary::before {
  content: "«";
  font-size: 1.4em;
  margin-top: -0.25rem;
  padding-right: 0.4rem;
  font-size: 1.4em;
}

.project-card details img {
  max-width: 100%;
  height: auto;
}

html:has(details[open]) {
  /* remove the main scrollbar when dialog is open */
  overflow: hidden;
}

.project-card details[open] {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 100;
  border-radius: 2rem;
  top: 1rem;
  bottom: 1rem;
  max-width: 100%;
  left: 1rem;
  right: 1rem;
  padding: 1.5rem;
  overflow: scroll;
  box-shadow: 0 0 7rem 3rem white;
  max-width: 900px;
  margin: auto;
}
.dark .project-card details[open] {
  box-shadow: 0 0 7rem 3rem black;
  background: rgba(0, 0, 0, 0.9);
}

.project-content a {
  text-decoration: underline;
}

.project-content {
  cursor: default;
}

@media screen and (min-width: 640px) {
  #projects article {
    width: calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 1080px) {
  .project-card details[open] {
    padding: 3rem;
    box-shadow: 0 0 7rem 5rem white;
  }

  .dark .project-card details[open] {
    box-shadow: 0 0 7rem 5rem black;
  }
}
