@keyframes wavehand {

    0% {
        transform: rotate(0deg);
    }
     33% {
        transform: rotate(25deg);
     }
     100% {
        transform: rotate(-15deg);
     }
}


  

.waveActive {
    animation: wavehand 0.25s;
    animation-iteration-count: 2;
    opacity:1;
}

.waveActive-parent {
    opacity:1;
}
.-parent {
    opacity:0.5
}