@keyframes wavehand {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
#hire {
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3.8rem;
  height: 3.8rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  position: fixed;
  background-color: white;
  z-index: 50;
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.dark #hire {
  background-color: black;
}

#hire.open {
  width: 17.5rem;
  height: 17.5rem;
  padding: 2rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  bottom: -8.5rem;
  right: -4rem;
  opacity: 100;
}

#hire p {
  font-size: 0.65rem;
  white-space: nowrap;
}

#hire h2 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem;
  font-weight: bold;
}

#hire button.close svg {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
}

#hire.open button.close {
  top: 1.5rem;
  left: 3.2rem;
  position: absolute;
}

@media screen and (min-width: 650px) {
  :root {
    --bubble-size-normal: 45vh;
    --bubble-size-hi-res: 45vw;
  }

  .hi-res #hire {
    bottom: 3.2rem;
    right: 3.2rem;
    width: 5rem;
    height: 5rem;
  }

  .hi-res #hire button svg {
    width: 4rem;
  }

  .hi-res #hire.open {
    width: var(--bubble-size-hi-res);
    height: var(--bubble-size-hi-res);
    bottom: -16rem;
    right: -9rem;
  }
  .hi-res #hire.open div {
    height: calc(var(--bubble-size-hi-res) - 2rem);
    width: calc(var(--bubble-size-hi-res) - 8rem);
  }

  #hire.open {
    width: var(--bubble-size-normal);
    min-width: 18rem;
    height: var(--bubble-size-normal);
    min-height: 18rem;
  }
  #hire.open div {
    height: calc(var(--bubble-size-normal) - 2rem);
    min-height: calc(18rem - 2rem);
    width: calc(var(--bubble-size-normal) - 8rem);
    min-width: calc(18rem - 8rem);
    padding-right: 2rem;
  }

  #hire.open h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  .hi-res #hire.open h2 {
    margin-top: 1rem;
    font-size: 2.1rem;
    margin-bottom: 2.8rem;
  }

  #hire.open p {
    font-size: 0.7rem;
    line-height: 1.6rem;
  }

  .hi-res #hire.open p {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 2rem;
  }

  #hire.open button.close {
    top: 2rem;
    left: 3.3rem;
  }

  .hi-res #hire.open button.close {
    top: 1.8rem;
    left: 5rem;
  }

  .hi-res #hire.open button.close svg {
    width: 2.5rem;
  }
}

@media screen and (min-width: 1600px) {
  #hire.open p {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  #hire.open h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  #hire.open {
    min-width: 20rem;
    min-height: 20rem;
  }

  #hire.open div {
    height: calc(var(--bubble-size-normal) - 2rem);
    min-height: calc(20rem - 2rem);
    width: calc(var(--bubble-size-normal) - 8rem);
    min-width: calc(20rem - 8rem);
    padding-right: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #hire {
    transition: all 0.3s ease-in;
  }

  .waveActive {
    animation: wavehand 0.25s;
    animation-iteration-count: 2;
    opacity: 1;
  }
}

.waveActive-parent {
  opacity: 1;
}
.-parent {
  opacity: 0.5;
}

button.cta {
  display: none;
  position: absolute;
  top: -1.2rem;
  left: -6rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0.3rem 0.5rem;
}

.dark button.cta {
  background-color: white;
  color: black;
}

.waveActive-parent .cta {
  display: block;
}
