@keyframes wavehand {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes expandBubble {
  0% {
    padding: var(--closed-padding);
    bottom: var(--closed-bottom);
    right: var(--closed-right);
    width: var(--closed-size);
    height: var(--closed-size);
  }
  80% {
    bottom: var(--open-bottom);
    right: var(--open-right);
  }
  100% {
    padding: var(--open-padding);
    bottom: var(--open-bottom);
    right: var(--open-right);
    width: var(--open-size);
    height: var(--open-size);
  }
}

@keyframes hiResExpandBubble {
  0% {
    padding: var(--closed-padding);
    bottom: var(--closed-bottom);
    right: var(--closed-right);
    width: var(--closed-size);
    height: var(--closed-size);
  }
  80% {
    bottom: var(--open-bottom);
    right: var(--open-right);
  }
  100% {
    padding: var(--open-padding);
    bottom: var(--open-bottom);
    right: var(--open-right);
    width: var(--open-size);
    height: var(--open-size);
  }
}

@keyframes contractBubble {
  0% {
    padding: var(--open-padding);
    bottom: var(--open-bottom);
    right: var(--open-right);
    width: var(--open-size);
    height: var(--open-size);
  }
  10% {
    bottom: var(--open-bottom);
    right: var(--open-right);
  }
  100% {
    padding: var(--closed-padding);
    bottom: var(--closed-bottom);
    right: var(--closed-right);
    width: var(--closed-size);
    height: var(--closed-size);
  }
}
:root {
  --closed-bottom: 0.5rem;
  --closed-right: 0.5rem;
  --closed-size: 3.8rem;
  --closed-padding: 0;

  --open-size: 17.5rem;
  --open-bottom: -8.5rem;
  --open-right: -4rem;
  --open-padding: 2rem 0 0 4rem;
}

#hire {
  bottom: var(--closed-bottom);
  right: var(--closed-right);
  width: var(--closed-size);
  height: var(--closed-size);
  padding: var(--closed-padding);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  position: fixed;
  background-color: white;
  z-index: 50;
  font-size: 0.875rem;
  line-height: 1.4rem;
  transition: opacity 0.3s;
}

.dark #hire {
  background-color: black;
}

#hire.open {
  bottom: var(--open-bottom);
  right: var(--open-right);
  width: var(--open-size);
  height: var(--open-size);
  padding: var(--open-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#hire p {
  font-size: 0.65rem;
  white-space: nowrap;
}

#hire h2 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem;
  font-weight: bold;
}

#hire button.close svg {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
}

#hire.open button.close {
  top: 1.5rem;
  left: 3.2rem;
  position: absolute;
}

@media screen and (min-width: 650px) {
  :root {
    --bubble-size-normal: 45vh;
    --bubble-size-hi-res: 45vw;
  }

  .hi-res #hire {
    --closed-bottom: 3.2rem;
    --closed-right: 3.2rem;
    --closed-width: 5rem;
    --closed-height: 5rem;
    /* bottom: 3.2rem;
    right: 3.2rem;
    width: 5rem;
    height: 5rem; */
  }

  .hi-res #hire button svg {
    width: 4rem;
  }

  .hi-res #hire.open {
    /* --closed-bottom: 0;
    --closed-right: 0; */
    --open-bottom: -8.5rem;
    --open-right: -4rem;
    --open-size: var(--bubble-size-hi-res);
    /* bottom: -8.5rem;
    right: -4rem;
    width: var(--bubble-size-hi-res);
    height: var(--bubble-size-hi-res); */
  }
  .hi-res #hire.open div {
    height: calc(var(--bubble-size-hi-res) - 2rem);
    width: calc(var(--bubble-size-hi-res) - 8rem);
  }

  #hire.open {
    --closed-bottom: -20rem;
    --closed-right: -15rem;
    --open-size: var(--bubble-size-normal);
    /* width: var(--bubble-size-normal); */
    min-width: 20rem;
    /* height: var(--bubble-size-normal); */
    min-height: 20rem;
  }
  #hire.open div {
    height: calc(var(--bubble-size-normal) - 2rem);
    min-height: calc(18rem - 2rem);
    width: calc(var(--bubble-size-normal) - 8rem);
    min-width: calc(18rem - 8rem);
    padding-right: 2rem;
  }

  #hire.open h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  .hi-res #hire.open h2 {
    margin-top: 1rem;
    font-size: 2.1rem;
    margin-bottom: 1.7rem;
  }

  #hire.open p {
    font-size: 0.7rem;
    line-height: 1.6rem;
  }

  .hi-res #hire.open p {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  #hire.open button.close {
    top: 2rem;
    left: 3.3rem;
  }

  .hi-res #hire.open button.close {
    top: 1.8rem;
    left: 5rem;
  }

  .hi-res #hire.open button.close svg {
    width: 2.5rem;
  }
}

@media screen and (min-width: 1080px) {
  .hi-res #hire.open {
    --close-bottom: -10rem;
    --close-right: -5rem;
    --open-bottom: -16rem;
    --open-right: -9rem;
    /* bottom: -16rem;
    right: -9rem; */
  }

  .hi-res #hire.open h2 {
    margin-bottom: 2.8rem;
  }

  .hi-res #hire.open p {
    padding-left: 2rem;
  }

  .hi-res #hire.open button.close {
    top: 3.5rem;
    left: 6.5rem;
  }
}

@media screen and (min-width: 1600px) {
  #hire.open p {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  #hire.open h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  /* #hire.open {
    min-width: 24rem;
    min-height: 24rem;
  } */

  #hire.open div {
    height: calc(var(--bubble-size-normal) - 2rem);
    min-height: calc(20rem - 2rem);
    width: calc(var(--bubble-size-normal) - 8rem);
    min-width: calc(20rem - 8rem);
    padding-right: 2rem;
  }
  .hi-res #hire.open button.close svg {
    width: 3rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #hire.closed {
    animation: contractBubble 0.3s;
    animation-fill-mode: backwards;
  }
  #hire.open {
    animation: expandBubble 0.3s;
    animation-fill-mode: forwards;
  }

  .waveActive {
    animation: wavehand 0.25s;
    animation-iteration-count: 2;
    opacity: 1;
  }
}

.waveActive-parent,
.open.-parent {
  opacity: 1;
}
.-parent {
  opacity: 0.5;
}

button.cta {
  display: none;
  position: absolute;
  top: -1.2rem;
  left: -6rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0.3rem 0.5rem;
}

.dark button.cta {
  background-color: white;
  color: black;
}

.waveActive-parent .cta {
  display: block;
}
