@media screen and (min-width: 1210px) {
  #nav-bg-shifter {
    width: 7%;
    height: 100vw;
    margin: 0;
    left: 43%;
    background-image: linear-gradient(
      to left,
      rgb(214, 248, 241) 50%,
      rgba(214, 248, 241, 0)
    );
  }
}
